apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: dagster-testing
servers: 1
agents: 0

registries:
  create:
    name: k3d-registry
    host: "0.0.0.0"
    hostPort: "5000"

ports:
  - port: 80:80
    nodeFilters:
      - loadbalancer
  - port: 443:443
    nodeFilters:
      - loadbalancer

options:
  kubeconfig:
    updateDefaultKubeconfig: true
    switchCurrentContext: true
